body { font-family:"Source Sans Pro",sans-serif;
       font-size:20px;
       background-color:#d6e2e9;
     }

a:link {
      color: #1C446C;

}

a {
      text-decoration: none;
}

a:visited {
      color: #1C446C;
}

img { border-radius:8px 8px 8px 8px;
      max-width: 100%;
    }

a:hover {
    color: #E58A2B;
}

.outerBox {
    display: flex;
    justify-content: center;
    padding:28px 28px 28px 28px;
}

.pageContainer {

}

.title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    border: solid;
    border-color: #3A65A3;
    border-radius: 10px;
    line-height: 50px;
}

.columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.leftColumn {
    padding:28px 28px 28px 28px;
    max-width: 500px;
}

.rightColumn {
    padding:28px 28px 28px 28px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    min-width: 200px;
    max-width: 500px;
}
